
body{
  background-color: black;
  margin:0;
}

p span 
{
    display: block;
}

.clock{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
}

.overlay{
  background-color: #AE242B;
  align-items: center;
 text-align: center;
  
}

.img{
  height:100%
}

.posterDiv{
  position: absolute;
  align-items: center;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 
}

.poster{
    height: 100%;
    z-index: -50 ;
}

.space{
  display: flex;
}

.title{
  color:#9A1C1C;
  text-shadow: 2px 2px #997341;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  margin-bottom: 0px;
  padding-top: 2em;
}

.tBox1{
  display: inline;
  text-align: center;
  min-height: 37vh;
  margin-bottom: 0em;
  padding-bottom: 0em;
  top: 20%
  
}

.title2{
  color:white;
  font-family: 'Pacifico', cursive;
  font-size: 27px;
  margin-top: 0px;
  
  height: 30%;
}

.tBox2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.clock{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 37vh;
}

.myVideo {
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -40;
    width: 100%;
    height: 100%;

}

.myVideo__video {
  position: absolute;
  top: 0;
  left: 0;
  
}


#clockdiv{
	font-family: sans-serif;
	color: #fff;
  margin-top: 50;
	font-weight: 100;
	text-align: center;
  font-size: 30px;
 
    justify-content: center;
  
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #9A1C1C;
  display: inline-block;
  opacity: 0.9;
}

#clockdiv div > span{
  padding: 25px;
	border-radius: 3px;
	background: #997341;
  display: inline-block;
 
}

.days .hours .minutes .seconds{
  font-size: 37px;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
