
body{
 background-color: black
}

p span 
{
    display: block;
}

.title{
  color:#9A1C1C;
  text-shadow: 2px 2px #997341;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  margin-bottom: 0px;
  padding-top: 2em;
}

.tBox1{
  display: inline;
  
  text-align: center;
  min-height: 37vh;
  margin-bottom: 0em;
  padding-bottom: 0em;
  
  
}

.title2{
  color:white;
  font-family: 'Pacifico', cursive;
  font-size: 27px;
  margin-top: 0px;
  top: -30px;
}

.tBox2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clock{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
}

.myVideo {
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -40;
    width: 100%;
    height: 100%;
  filter:opacity(80%);
}

.myVideo__video {
  position: absolute;
  top: 0;
  left: 0;
  
}